@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .notification {
    @apply bg-red-600 rounded-full text-white w-3 h-3 flex justify-center items-center absolute left-[12px] cursor-pointer;
  }
}
@layer utilities {
  .sidebar {
    @apply h-screen;
  }
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background-color: #e6edef;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #088395;
  }
}
